$color-body: #f6f6f6;
/*

html {
    overflow-y: scroll;
}

a:not(.btn) {
    text-decoration: underline;
    color: #777;
}
a:hover:not(.btn), a:active:not(.btn) {
    text-decoration: none;
}

body:not(#body_home) nav {
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
}

footer {
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 80%;
    p, a {
        color: #999;
    }
}

body:not(#body_home) h1 {
    font-size: 250%;
    border-bottom: 1px solid darken($color-body, 20%);
    padding-bottom: 10px;
    margin-bottom: 30px;
}
p {
    margin-bottom: 30px;
    line-height: 1.7em;
}

> p + pre {
    margin-top: -20px;
}

.article-description {
    font-style: italic;
    opacity: .7;
    padding-bottom: 10px;
    border-bottom: 1px solid darken($color-body, 20%);
}

p + ul {
    margin-top: -25px;
    margin-bottom: 30px;
}


.article-list {
    font-size: 75%;
    li a {
        display: inline-block;
        border-bottom: 1px solid darken($color-body, 20%);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

.flush-list {
     padding-left: 15px;
}

.shy-list {
    padding-left: 0px;
    list-style: none;
}
*/

.flush-list {
     padding-left: 15px;
}

.shy-list {
    padding-left: 0px;
    list-style: none;
}

footer,
#body_home {
    text-align: center;
}

#body_home {
    h1 {
        text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
    }
    #logo {
        opacity: .2;
        transition: opacity 2s;
    }
    #logo:hover {
        opacity: 1;
    }

    .masthead {
        padding-bottom: 5px;
    }
}


a,
a:focus,
a:hover {
    outline: 0;
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
      color: #333;
      text-shadow: none;
      background-color: #fff;
      border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 52em;
}

.footer {
    padding-top: 20px;
}

.masthead {
    padding-bottom: 20px;
    margin-bottom: 4rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-height: 1050px) {
    main {
        margin-top: -200px;
    }
}

@media (min-width: 48em) {
    body:not(#body_home) {
        .masthead-brand {
            float: left;
        }
        .nav-masthead {
            float: right;
        }
    }
}


.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}




html {
    overflow-y: scroll;
}

#content {
    a:not(.btn) {
        text-decoration: underline;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        color: #aaa;
        text-decoration-color: #888;
    }
    a:hover:not(.btn), a:active:not(.btn) {
        text-decoration: none;
    }
}

body:not(#body_home) nav {
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
}

.icon{
    width: 25px;
    height: 25px;
    use {
        width: 25px;
        height: 25px;
        fill: currentColor;
    }
}

.nb {
    white-space: nowrap;
}

[data-platform]:not([data-platform=generic]) {
    position: absolute;
    left: -9999px;
}

pre {
    background: $color-body;
    padding: 10px;
    border-radius: 4px;
}

/*.downloads a.button {
    display: block;
    border: 1px solid #000033;
    background-color: #000066;
    background-color: #434377;
    color: #fff; height: 60px;
    float: left; margin: 1em;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    width: 250px;
    text-align: center;
}
.downloads .os-icon {
    float: left;
    width: 30px;
    height: 30px;
    margin: 15px 0.5em;
}
.downloads .filetype {
    display: block;
    float: right;
    background-image: url("http://rakudo.org/wp/wp-content/uploads/2016/02/file-icon.png");
    background-size: 50px;
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    margin: 5px 0.5em;
}
.downloads .filetype .name {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 1px;
    font-size: 12px;
    top: 20px;
    left: 10px;
    position: relative;
}
.downloads .rakudo {
    font-size: 12px;
}
.downloads .version {
    font-size: 20px;
    font-weight: bold;
}
.downloads .details {
    font-size: 12px;
}
.downloads {
    line-height: 1.3em;
}*/

.downloads-panel {
    img {
        margin-bottom: 5px;
    }
    .download span {
        display: block;
        line-height: 1.2em;
    }

    .version {
        font-weight: bold;
        font-size: 120%;
    }

    padding-bottom: 20px;
}